@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-customColor {
  background-color: #5fd1d4;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #5fd1d4;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #5fd1d4;
  transition: width 0.3s ease, left 0.3s ease;
  transform-origin: 50% 50%;
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
}

.active::before {
  width: 100%;
  left: 0;
}
