@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-customColor {
  background-color: #7ebd01;
}

.text-customColor {
  color: #7ebd01;
}

.font-customFont {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #7ebd01;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #7ebd01;
  transition: width 0.3s ease, left 0.3s ease;
  transform-origin: 50% 50%;
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
}

.active::before {
  width: 100%;
  left: 0;
}

.border-custom-200 {
  --tw-border-opacity: 1;
  border-color: #7ebd01;
}

.focus\:ring-custom-900:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: #7ebd01;
}

.hover\:bg-custom-500:hover {
  --tw-bg-opacity: 1;
  background-color: #7ebd01;
}

.transition-projects {
  transition: all 0.5s ease-in-out;
}

.cardHover {
  transition: all ease-in-out 0.2ms ease;
}

.cardHover:hover {
  transform: scale(1.005);
  transition: all ease-in-out 0.2ms ease;
}

.input {
  border: none;
  border-bottom: 2px solid #7ebd01;
  outline: none;
  padding: 10px;
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  background-color: white;
  color: #7ebd01;
  font-weight: 400;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
